{erl_opts, [debug_info]}.
{src_dirs, ["src", "gen/src"]}.

{profiles, [
    {test, [
        {src_dirs, ["src", "test", "gen/src", "gen/test"]},
        {pre_hooks, [{eunit, "test/reset_db.sh"}]}
    ]}
]}.

{project_plugins, [rebar_gleam]}.

{shell, [
    {apps, [gleam_pgo]}
]}.

{deps, [
    {gleam_stdlib, "0.8.0"},
    {gleam_otp_process, {git, "https://github.com/gleam-experiments/otp_process"}},
    pgo
]}.
