{erl_opts, [debug_info]}.
{src_dirs, ["src", "gen/src"]}.

{profiles, [
    {test, [
       {src_dirs, ["src", "test", "gen/src", "gen/test"]},
       {pre_hooks, [{eunit, "test/reset_db.sh"}]}
    ]}
]}.

{project_plugins, [rebar_gleam]}.

{shell, [
    {apps, [gleam_pgo]}
]}.

{deps, [
    {gleam_stdlib, "0.17.0"},
    {gleam_erlang, "0.1.0"},
    {gleam_otp, "~> 0.1"},
    {pgo, "~> 0.11"},
    gleam_should_assertions
]}.
